<dataRetrieverConfig>   
    <windows duration="120" outputFile="perfcounter.csv">    
	    <!--impersonation is only needs when you need to collect windows perf counters from other domain which your current runas user doesn't have permission to access-->		
    <!--
    <settings>		    
			<impersonation userName="user" password="password" domain="domainName"/>			
		</settings>
	-->
		<counterGroups>
            <counterGroup name="machineStatus" samplingInterval="15">     
                <counters>
                    <counter category="Memory" name="% Committed Bytes In Use|Available Bytes|Committed Bytes|Page Faults/sec|Transition Faults/sec" instance=".*"/>                        
                    <counter category="Processor" name="% Processor Time|% Privileged Time|% User Time|% Interrupt Time|Interrupts/sec" instance="_Total"/>                 
                    <counter category="LogicalDisk" name="% Disk Time|Current Disk Queue Length" instance="_Total"/>                    
                    <counter category="Network Interface" name="Packets/sec|Packets Received Errors|Bytes Received/sec|Bytes Sent/sec|Bytes Total/sec|Current Bandwidth" instance=".*"/>                    
                </counters>
            </counterGroup>
            <counterGroup name="tableauProcess" samplingInterval="15">
                <counters>
                    <counter category="Process" name="% Privileged Time|% Processor Time|% User Time|Elapsed Time|Page Faults/sec|Private Bytes|Thread Count|Working Set|Working Set - Private|Working Set Peak|% Privileged Time|% Processor Time|% User Time|Elapsed Time|Page Faults/sec|Thread Count" instance="backgrounder.*|dataserver.*|httpd.*|tabrepo.*|tabspawn.*|tabsvc.*|vizqlserver.*|wgserver.*|vizportal.*"/>                   
                </counters>
            </counterGroup>
        </counterGroups>            
    </windows>
    <jmx duration="300" outputFile="d:\jmxcounter.csv">          
        <settings>
            <scheduler threadCount="5" />
            <connectorPoolConfiguration maxActive="5" testOnBorrow="true" testOnReturn="false" />
        </settings>
        <components>
            <component name="vizqlserver" serviceURL="service:jmx:rmi:///jndi/rmi://%s:9400/jmxrmi" />                                           
			<component name="vizqlserver#1" serviceURL="service:jmx:rmi:///jndi/rmi://%s:9401/jmxrmi" /> 
            <component name="dataserver" serviceURL="service:jmx:rmi:///jndi/rmi://%s:10000/jmxrmi" />            
			<component name="dataserver#1" serviceURL="service:jmx:rmi:///jndi/rmi://%s:10001/jmxrmi" />
            <component name="wgserver" serviceURL="service:jmx:rmi:///jndi/rmi://%s:8300/jmxrmi" />            
            <component name="searchservice" serviceURL="service:jmx:rmi:///jndi/rmi://%s:9004/jmxrmi" />
			<component name="vizportal" serviceURL="service:jmx:rmi:///jndi/rmi://%s:8900/jmxrmi" />
        </components>        
        <counterGroups>
            <counterGroup name="vizqlserver" samplingInterval="15">      
                <applicableComponents>
                    <applicableComponent>vizqlserver</applicableComponent>                                       					
					<applicableComponent>vizqlserver#1</applicableComponent>
				</applicableComponents>
                <counters>					
                    <counter category="java.lang:type=GarbageCollector,*" name="CollectionCount|CollectionTime"/>					
                    <counter category="tableau.health.jmx:name=*" name=".*"/>                    					
					<counter category="java.lang:type=Memory" name=".*Usage"/>
                    <counter category="java.lang:type=Runtime" name="Uptime"/>				
                </counters>
            </counterGroup>     
            <counterGroup name="dataserver" samplingInterval="15">      
                <applicableComponents>
                    <applicableComponent>dataserver</applicableComponent>                                       
					<applicableComponent>dataserver#1</applicableComponent>
                </applicableComponents>
                <counters>					
					<counter category="java.lang:type=GarbageCollector,*" name="CollectionCount|CollectionTime"/>
                    <counter category="tableau.health.jmx:name=*" name=".*"/>              
                    <counter category="java.lang:type=Memory" name=".*Usage"/>
                    <counter category="java.lang:type=Runtime" name="Uptime"/>					
                </counters>
            </counterGroup>     
            <counterGroup name="wgserver" samplingInterval="15">      
                <applicableComponents>
                    <applicableComponent>wgserver</applicableComponent>                                                
                </applicableComponents>
                <counters>
                    <counter category="java.lang:type=GarbageCollector,*" name="CollectionCount|CollectionTime"/>   
					<counter category="com.tableausoftware.model.workgroup:name=WorkgroupMonitoringData" name=".*"/>   
                    <counter category="java.lang:type=Memory" name=".*Usage"/>
                    <counter category="java.lang:type=Runtime" name="Uptime"/>
                </counters>
            </counterGroup>     
            <counterGroup name="searchservice" samplingInterval="15">      
                <applicableComponents>
                    <applicableComponent>searchservice</applicableComponent>                                      
                </applicableComponents>
                <counters>
                    <counter category="java.lang:type=GarbageCollector,*" name="CollectionCount|CollectionTime"/>                                   
                    <counter category="java.lang:type=Memory" name=".*Usage"/>
                    <counter category="java.lang:type=Runtime" name="Uptime"/>
                </counters>
            </counterGroup>
			<counterGroup name="vizportal" samplingInterval="15">      
                <applicableComponents>
                    <applicableComponent>vizportal</applicableComponent>                                                
                </applicableComponents>
                <counters>
                    <counter category="java.lang:type=GarbageCollector,*" name="CollectionCount|CollectionTime"/>   
					<counter category="tableau.health.jmx:name=*" name=".*"/>   
                    <counter category="java.lang:type=Memory" name=".*Usage"/>
                    <counter category="java.lang:type=Runtime" name="Uptime"/>
                </counters>
            </counterGroup>			 			
        </counterGroups>            
    </jmx>
    <zabbix duration="180" outputFile="d:\zabbixcounter.csv">
		<settings>
			<scheduler threadCounter="5"/>
			<connection>
				<url></url>
				<userName></userName>
				<password></password>
			</connection>			
		</settings>
		<counterGroups>
			<counterGroup name="linuxServer" samplingInterval="60" />										
		</counterGroups>
    </zabbix>   
    <hosts>        	    		
		<host name="localhost">
			<applicableCounterGroups>   
                <applicableCounterGroup>machineStatus</applicableCounterGroup>
				<applicableCounterGroup>tableauProcess</applicableCounterGroup>
				<!--enable the following section only after you jmx counter for tableau-->
				<!--
				<applicableCounterGroup>vizqlserver</applicableCounterGroup>
				<applicableCounterGroup>dataserver</applicableCounterGroup>
				<applicableCounterGroup>vizportal</applicableCounterGroup>		
				-->
			</applicableCounterGroups>
		</host>		
    </hosts>
 </dataRetrieverConfig>